* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: rgb(247, 218, 223);
    text-align: center;
}

.char1 {
    color: slateblue;
}

.char2 {
    color: rgb(97, 170, 74);
}

.char3 {
    color: rgb(219, 91, 166);
}

.victory {
    color: rgb(68, 57, 136);
    font-size: 2em;
}

.criticalHit {
    font-size: 1.3em;
    animation: critical infinite 0.3s alternate ease-in-out;
}

@keyframes critical {
    100% {
        color: firebrick;
        transform: scale(1.01);
    }
}